*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
header{
    display: flex;
    align-items: flex-end;
    margin: 1rem;
    
}
.head1{
    width: 73%;
    text-align: left;
    
}
a{
    text-decoration: none;
    color: rgb(77, 75, 75);
    margin-right: 1rem;
    
}

.head2{
    width: 22%;
   
}

.head3{
    width: 6%;
    display: flex;
    margin-top: 00.4rem;
}

.head4{
    width: 8%;
}
.btn1{
    background-color:#4285f4;
    color: white;
    border: none;
    font-weight: 700;
    padding: 0.4rem;
    margin-top: 0.3rem;
    border-radius: 3px;
    cursor: pointer;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
}

.sec2{
    border: 1px solid rgb(173, 168, 168);
    border-radius: 40px;
    width: 60vh;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.sec2 input{
    width: 48vw;
    outline: none;
    border: none;
    text-align: left;
    
}
.sec3 button{
    
    margin: 2rem 0.5rem;
    padding: 0.7rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer {
    width: 100%;
    bottom: 0;
    position: fixed;
    line-height: 40px; 
    /* satırlararası boşluk demek olduğu için, tek seferde bütün child larına alttan üstten padding vermiş gibi olur, bunu vermezsek her child a alttan üstten padding vermeliyiz */
  
    background-color: #f2f2f2;
    font-size: smaller;
    font-weight: 300;
  }
  .footer-bottom {
    border-top: 1px solid #dadce0;
  }
  .footer-country {
    padding-left: 20px;
    font-size: 14px;
    text-align: left;
    color: rgb(66, 65, 65);
  }
  
  .footer-bottom-left {
    padding-left: 20px;
    float: left;
  }
  
  .footer-bottom-right {
    float: right;
    padding-right: 10px;
  }

  li{
    list-style-type: none;
    display: inline-block
  }